@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "irish grover";
}

/* HEADER */

header .logo {
  position: relative;
  left: 50px;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(155.2deg, #030020 14.82%, rgba(13, 9, 55, 0.53) 90.37%);
}

.container {
  padding: 6px;
  width: 350px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 black;
}


#cadastrar, #entrar {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
}


.botaoForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 blueviolet;
}

.botaoForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
  font-family: 'roboto';
}

.botaoForm #btCadastro {
  position: relative;
  left: 15px;
  font-family: 'roboto';
  font-size: 15px;
}

.btColor {
  position: absolute;
  width: 108px;
  height: 100%;
  background: linear-gradient(to right, #5956e9, #a963f8);
  border-radius: 30px;
  transition: .3s;
}

input[type="text"],
input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
}

button[type="submit"] {
  background: #660fc8;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
  position: relative;
  bottom: 31px;
  transition: 0.5s;
}

button[type="submit"]:hover {
  background: #8031da;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}


#entrar {
  left: 25px;
}

#entrar h3 {
  position: relative;
  left: 120px;
  top: 30px;
  font-family: "Irish Grover";
  font-size: 25px;
  font-weight: 800;
}

#cadastrar {
  left: 450px;
}

#cadastrar h3 {
  position: relative;
  left: 60px;
  top: 30px;
  font-family: "Irish Grover";
  font-size: 25px;
  font-weight: 800;
} 

#sua_aldeia {
  position: relative;
  left: 30px;
  bottom: 20px;
  background: #660fc8;
  color: white;
  border-radius: 30px;
  width: 50%;
  height: 20px;
  border: none;
  outline: none;
  transition: 3.5s;
}



.botao_home {
  padding: 5px 10px;
  color: #000000;
  text-decoration: none;
  background: #660fc8;
  border: 2px solid #fefefe;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
  bottom: 20px;
}

.botao_home:hover {
  background: #8031da;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}