@import url('https://fonts.googleapis.com/css2? family= Irish+Grover & display=swap');

body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header {
    height: 100vh;
    background: url(./assets/imagens/Meu\ projeto-final.jpg);
}

/* .naruto_principal {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: auto 400px;
    width: 500px;
} */

h1 {
    font-weight: 100;
    align-items: center;
    height: 35%;
    margin: auto 30px;
    color: #F9EF11;
    -webkit-text-stroke-width: 2px;   /* largura da borda */
    -webkit-text-stroke-color: #000;  /* cor da borda */
}

.texto {
    font-size: 35px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto 300px;
    background-color: whitesmoke; opacity: 0.6;
}

.container_titulo {
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/* MAIN DA PAGINA */

main {
    background: #003668;
    height: 100vh;
}

.container_imagem {
    display: flex;
    justify-content: center;
    padding: 20px;
}

