body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header {
    height: 100vh;
    background: url(./assets/imagens/Meu\ projeto-final.jpg);
}

