@import url('https://fonts.googleapis.com/css2? family= Inter & family= Irish+Grover & display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'inter', 'irish grover';
}


/* HEADER */

header nav ul {
    list-style: none;
    display: flex;
}

header nav a {
    margin: 0 15px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 5px;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;

}

.botao_home {
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    background: #E86F40;
    border: 2px solid #000000;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
}

.botao_home:hover {
    background: #F9EF11;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.botao_login_cad {
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    background: #E86F40;
    border: 2px solid #000000;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
}

.botao_login_cad:hover {
    background: #F9EF11;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

/* BANNER */

header {
    height: 100vh;
    background: url(/site/assets/imagens/Meu\ projeto-final.jpg);
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}



header h1 {
    font-weight: 100;
    align-items: center;
    height: 35%;
    margin: auto 30px;
    color: #F9EF11;
    -webkit-text-stroke-width: 2px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;
    /* cor da borda */
}

.texto {
    font-size: 35px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto 300px;
    background-color: whitesmoke;
    opacity: 0.6;
}

.container_titulo {
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/* MAIN */


main {
    background: #003668;
    height: 100%;
}

.container_banner {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 350px;
}


.texto_sobre_naruto h3 {
    max-width: 400px;
    margin: auto 40px;
    border: 1px solid;
    border-radius: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 30px;

}


/* FOOTER */


.parte_azul {
    background: #001937;
    padding: 20px;
}

.parte_laranja {
    background: orange;
    padding: 1px;
}

.parte_laranja ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.parte_laranja span {
    justify-content: flex-start;
}