@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Irish grover';
}


/* HEADER */

header nav ul {
    list-style: none;
    display: flex;
}

header nav a {
    margin: 0 15px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 5px;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;

}

.botao_home {
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    background: #E86F40;
    border: 2px solid #000000;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'inter';
}

.botao_home:hover {
    background: #F9EF11;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.botao_login_cad {
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    background: #E86F40;
    border: 2px solid #000000;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
    font-family: 'inter';
}

.botao_login_cad:hover {
    background: #F9EF11;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

/* BANNER */

header {
    background-image: url(../assets/imagens/imagem-fundo-konoha.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 45%);
    height: 100vh;
}



header h1 {
    font-weight: 100;
    align-items: center;
    height: 35%;
    margin: auto 50px;
    color: #F9EF11;
    -webkit-text-stroke-width: 2px;
    /* largura da borda */
    -webkit-text-stroke-color: #000;
    /* cor da borda */
}


.texto_banner {
    font-size: 35px;
    border: 1px solid;
    border-radius: 20px;
    margin: auto 300px;
    background-color: whitesmoke;
    opacity: 0.6;
}


.caixa_banner {
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/* MAIN */


main {
    background: #003668;
    height: 100%;
}

.container_banner2 {
    display: flex;
    justify-content: center;
    height: 350px;
    flex-direction: column;
    position: relative;
    padding: 50px;
    top: 30px;
}

.container_banner2 img {
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.50);
    border-radius: 80px;
}

.valores {
    position: relative;
    bottom: 80%;
    left: 50px;
}

.valores ul {
    list-style: none;
    display: flex;
}


.valores li {
    background: #F9EF11;
    border: 2px solid #000000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
}

.valores li:hover {
    background: #E86F40;
    box-shadow: 0px 6px px rgba(0, 0, 0, 0.25);
}

.container_principal img {
    position: relative;
    width: 90%;
    left: 20%;
    bottom: 40px;
}

.container_principal {
    /* border: 1px solid red; */
    position: relative;
    width: 100%;
    margin: 1%;
}

.container_carrosel {
    width: 100%;
    /* border: solid 1px blue; */
}

.imagem_naruto {
    position: relative;
    right: 45px;
}


.texto_naruto p {
    color: black;
    position: relative;
    bottom: 178px;
    border-radius: 20px;
    background: white;
    left: 171px;
    padding: 13px;
    /* border: solid 1px yellow; */
    width: 51%;
    font-size: 21px;
}

.texto_sobre {
    position: relative;
    bottom: 22%;
    /* border: solid 1px green; */
    width: 55%;
    left: 30%;
}

.texto_sobre p {
    font-family: 'inter';
    width: 55%;
    font-size: 20px;
    padding: 5px;
    background: #D9D9D9;
    position: relative;
    left: 20%;
    border: 2px solid black;
    top: 10px;
}

 .divisao_carrosel {
    display: flex;
    position: relative;
    margin-right: 20px;
    /* border: solid 1px black; */
}

.amigos_carrosel {
    width: 500%;
    position: relative;
    right: 650%;
    border: 1px px solid;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.5);
    /* border: solid 1px whitesmoke; */

} 

.sobre_seus_amigos {
    /* border: 1px solid mediumvioletred; */
    height: 5%;
}

.sobre_seus_amigos p {
    position: relative;
    width: 25%;
    left: 22%;
    font-family: auto;
    font-size: 20px;
    bottom: 20px;
    background-color: #D9D9D9;
    padding: 5px;
    padding-right: 35px;
    border: 2px solid black;
}

.carrosel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
}

.container_img {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.car {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.video {
    position: relative;
    width: 58vw;
    height: 50vh;
    left: 20%;
    bottom: 560px;
}

.container_video {
    height: 80vh;
}

.texto_arcos {
    width: 20%;
    position: relative;
    left: 40%;
    border: 2px solid;
    background-color: #D9D9D9;
}

.texto_arcos h3 {
    margin: 10px;
    position: relative;
    left: 10px;
}


.degrade {
    background: linear-gradient(131.56deg, #003668 41.42%, #FFA500 77.87%);
}

.video_fundo img {
    width: 80vw;
    height: 75vh;
    position: relative;
    margin: 40px;
    left: 60px;
    bottom: 100px;
}

.arcos_anime {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background: #000000;
    transition: background 0.4s ease-in;
}

input[type=radio] {
    display: none;

}

.img_arcos {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.container_carrosel_arcos {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 245px;
    margin-top: 20px;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1{
    transform: translateX(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked ~ .cards #song-1 .img_arcos,
#item-2:checked ~ .cards #song-2 .img_arcos,
#item-3:checked ~ .cards #song-3 .img_arcos{
    box-shadow: #001937;
}





/* FOOTER */


.parte_azul {
    background: #001937;
    padding: 20px;
}

.parte_laranja {
    background: orange;
    padding: 1px;
}

.parte_laranja ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.parte_laranja span {
    justify-content: flex-start;
}

.img_footer {
    position: relative;
    top: 124px;
    width: 18%;
}